{% extends 'base.html' %}
{% load static %}

{% block content %}
<button id="test-btn">TESTBTN</button>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group-with-icon">
                <label for="loading">Loading</label>
                <div class="form-with-icon loading">
                    <select name="" id="loading" class="form-control">
                        <option value="">asd</option>
                        <option value="">asd</option>
                        <option value="">asd</option>
                    </select>
                    <img class="form-icons loading-icon" src="{% static 'assets/images/loader.gif' %}" alt="" srcset="">
                    <img class="form-icons valid-icon" src="{% static 'assets/images/tick.png' %}" alt="" srcset="">
                    <img class="form-icons error-icon" src="{% static 'assets/images/cross.png' %}" alt="" srcset="">
                    <img class="form-icons caution-icon" src="{% static 'assets/images/caution.png' %}" alt=""
                        srcset="">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group-with-icon">
                <label for="loading">Valid</label>
                <div class="form-with-icon valid">
                    <select name="" id="loading" class="form-control">
                        <option value="">asd</option>
                        <option value="">asd</option>
                        <option value="">asd</option>
                    </select>
                    <img class="form-icons loading-icon" src="{% static 'assets/images/loader.gif' %}" alt="" srcset="">
                    <img class="form-icons valid-icon" src="{% static 'assets/images/tick.png' %}" alt="" srcset="">
                    <img class="form-icons error-icon" src="{% static 'assets/images/cross.png' %}" alt="" srcset="">
                    <img class="form-icons caution-icon" src="{% static 'assets/images/caution.png' %}" alt=""
                        srcset="">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group-with-icon">
                <label for="loading">Error</label>
                <div class="form-with-icon  error">
                    <select name="" id="loading" class="form-control">
                        <option value="">asd</option>
                        <option value="">asd</option>
                        <option value="">asd</option>
                    </select>
                    <img class="form-icons loading-icon" src="{% static 'assets/images/loader.gif' %}" alt="" srcset="">
                    <img class="form-icons valid-icon" src="{% static 'assets/images/tick.png' %}" alt="" srcset="">
                    <img class="form-icons error-icon" src="{% static 'assets/images/cross.png' %}" alt="" srcset="">
                    <img class="form-icons caution-icon" src="{% static 'assets/images/caution.png' %}" alt=""
                        srcset="">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group-with-icon">
                <label for="loading">Caution</label>
                <div class="form-with-icon caution">
                    <select name="" id="loading" class="form-control">
                        <option value="">asd</option>
                        <option value="">asd</option>
                        <option value="">asd</option>
                    </select>
                    <img class="form-icons loading-icon" src="{% static 'assets/images/loader.gif' %}" alt="" srcset="">
                    <img class="form-icons valid-icon" src="{% static 'assets/images/tick.png' %}" alt="" srcset="">
                    <img class="form-icons error-icon" src="{% static 'assets/images/cross.png' %}" alt="" srcset="">
                    <img class="form-icons caution-icon" src="{% static 'assets/images/caution.png' %}" alt=""
                        srcset="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}