{% extends "wagtailadmin/home.html" %}
{% load wagtailadmin_tags static i18n %}


{% block content %}
<header class="merged nice-padding">
    <div class="row row-flush">
        <div class="left">
            <h1>Page Spinner</h1>
            <h2>Article</h2>
        </div>
        <div class="right">
            <a href="/admin/article/new/" class="button bicolor icon icon-plus">Add New Article</a>
        </div>
    </div>
</header>
<main>
    <div class="nice-padding">
        <div id="user-results" class="users">
            <table class="listing">
                <thead>
                    <tr>
                        <th class="name">
                            <a href="/admin/users/?ordering=name" class="icon icon-arrow-down-after">Name</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles  %}
                    <tr>
                        <td class="title" valign="top">
                            <h2>
                                <span class="avatar small"><img
                                        src="//www.gravatar.com/avatar/0eb178cec364c022a189c3814e5f7483?s=50&amp;d=mm"></span>
                                <a href="/admin/article/{{article.pk}}/">{{article.name}}</a>
                            </h2>
                            <ul class="actions">
                                <li><a class="button button-secondary button-small" href="/admin/article/{{article.pk}}/"
                                        title="Edit this Article">Edit</a></li>

                                <li><a class="button button-secondary button-small no" href="/admin/article/{{article.pk}}/delete/"
                                        title="Delete this Article">Delete</a></li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock content %}