{% load static wagtailsettings_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/dist/toolkit-minimal.min.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/core.css' %}" crossorigin="anonymous">
    {% block extrastyle %}
    {% endblock extrastyle %}
</head>

<body>
    <div id="ajax-loader" class="loading">Loading&#8230;</div>
    <header>
        <div id="top-head">
            <div class="container">
                <nav id="top-head-nav">
                    <div id="top-head-slogan">
                        <p>A Cool Slogan!!</p>
                    </div>
                    <div id="top-head-navs">
                        <a href="" class="top-head-a">Home</a>
                        <a href="" class="top-head-a">About Us</a>
                        <a href="" class="top-head-a">Contact Us</a>
                        <a href="/cart/" id="cart">
                            <span class="icon icon-shopping-cart"></span><span
                                id="cart-number">{{request.CART.count}}</span></a>
                    </div>
                </nav>
            </div>
        </div>
        <div id="second-head">
            <div class="container d-flex justify-content-between">
                <div id="logo-div">
                    <img src="{% static 'assets/images/logo.png' %}" alt="">
                </div>
                <div id="contact-div">
                    <p id="second-head-phone-label">Contact Us:</p>
                    <p id="second-head-phone-number">000 0004444</p>
                </div>
            </div>
        </div>
        <div id="product-head">
            <div class="container d-flex justify-content-between">
                {% for product in settings.sitesettings.NavbarSetting.products %}
                {{product}}
                {% endfor %}
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <div class="block block-inverse app-footer">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
    </footer>
    {% block modal %}
    {% endblock modal %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/core.js' %}"></script>
    {% block extrajs %}
    {% endblock extrajs %}
</body>

</html>