body{
  background: #eee;
}
div#product-list {
  display: flex;
  flex: 1 1 200px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.product-item {
  display: flex;
  flex: 1 0 230px;
  margin: 20px;
}

a.product-item-a:hover {
  text-decoration: unset;
  box-shadow: 0px 0px 1px 2px #c5c5c5;
}

a.product-item-a {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  color: #000;
  transition: .5s;
  border-radius: 20px;
  border: 1px solid;
  padding: 10px;
  width: 235px;
  height: 235px;
}

#catalogpage-ul {
  margin: auto 0;
  font-size: 14px;
  padding-left: 20px;
}

img.product-item-img {
  width: 150px;
  margin: auto;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #eee;
  border-color: #eee transparent #eee transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

div#loader div {
  top: 50%;
  left: 50%;
}

div#loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000038;
}

span.error {
  font-size: 12px;
  color: #f00;
  display: none;
}

.form-group.error span.error {
  display: block;
}

div#page-div {
  padding: 5px;
  border: 3px solid #eee;
}

.dropzone, .dropzone * {
  box-sizing: border-box;
}

.dropzone {
  position: relative;
}

.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  width: 120px;
  margin: 0.5em;
}

.dropzone .dz-preview .dz-progress {
  display: block;
  height: 15px;
  border: 1px solid #aaa;
}

.dropzone .dz-preview .dz-progress .dz-upload {
  display: block;
  height: 100%;
  width: 0;
  background: green;
}

.dropzone .dz-preview .dz-error-message {
  color: red;
  display: none;
}

.dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
  display: block;
}

.dropzone .dz-preview.dz-success .dz-success-mark {
  display: block;
}

.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
  position: absolute;
  display: none;
  left: 30px;
  top: 30px;
  width: 54px;
  height: 58px;
  left: 50%;
  margin-left: -27px;
}

.form-with-icon select {
  width: calc(90% - 40px);
  margin-right: 8px;
  display: inline-block;
}

.form-icons {
  display: none;
}

.valid .valid-icon {
  display: inline;
}

.caution .caution-icon {
  display: inline;
}

.loading .loading-icon {
  display: inline;
}

.error .error-icon {
  display: inline;
}
.loading select {
  border: 1px solid;
}
.error select {
  border: 1px solid #F44336;
}
.valid select {
  border: 1px solid #4CAF50;
}
.caution select {
  border: 1px solid #FF9800;
}

.sub-menu {
  display: none;
  position: absolute;
  background: #fff;
  z-index: 9;
  box-shadow: 0 0 3px 0px black;
  border-radius: 5px;
  width: fit-content;
}
.sub-menu-parent:hover .sub-menu {
  display: block;
}

div#top-head {
  background: #262626;
  color: #fff;
}
nav#top-head-nav {
  display: flex;
  justify-content: space-between;
  height: 48px;
}
div#top-head-slogan p {
  font-size: 30px;
  line-height: 48px;
}
a.top-head-a {
  font-size: 16px;
  margin: 5px;
  line-height: 48px;
  color: #fff;
}

div#second-head {
  padding: 10px 0;
  background: #fff;
}
div#contact-div {
  text-align: right;
  margin: auto 0;
}
p#second-head-phone-label {
  margin: unset;
  color: #464646;
}
p#second-head-phone-number {
  font-size: 32px;
  margin: unset;
}

.nav-link:hover {
  box-shadow: inset 0px -3px #03A9F4;
}
div#product-head .nav-link {
  font-size: 20px;
  color: #000;
  line-height: 16px;
}

div#product-head {
  background: #fff;
}
div#intro-block {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff url(/static/assets/images/banner.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 3px 4px #03A9F4;
}
.intro-rich {
  text-shadow: 2px 1px 1px white;
}
div#product-with-icon {
  padding: 30px 0;
  background: #fff;
  box-shadow: inset 0 0 3px #00BCD4;
}
.featured-list-bordered .featured-list-icon {
  border: 2px solid #00BCD4;
}
.product-card.card {
  overflow: hidden;
  width: calc(33% - 20px);
  padding: 2px;
  border-radius: 2px;
  box-shadow: 0 0 0px 2px #03a9f457;
}


.product-card.card:nth-child(2) {
  margin: 0 20px;
}
.card-body {
  padding: 10px;
}
.product-card-btn {
  margin-top: auto;
}
img.card-img-top {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.text-block {
  background: #fff;
  padding: 20px 10px;
  box-shadow: inset 0 0 2px 1px #03A9F4;
}
.form-page-card {
  margin-top: 5px;
}
img#catalogpage-img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
h1#catalogpage-h1 {
  font-size: 22px;
  line-height: 32px;
}
h2#catalogpage-h2 {
  font-size: 18px;
  line-height: 20px;
}

.form-page-card {
  margin-top: 5px;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 0 2px #03A9F4;
}
li.catalogpage-li {
  margin-bottom: 5px;
}
.bg-white{
  background: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #03A9F4;
  border-color: #63ceff;
}
div#catalog-desc {
  margin: 20px 0;
}

.price-grid {
  font-size: 18px;
}
.price{
  font-weight: 600;
}
div#prices {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 30px;
  margin-bottom: 25px;
}
.price-grid {
  font-size: 18px;
  padding: 0 5px;
  line-height: 34px;
  height: 36px;
  border: 2px solid #03A9F4;
  border-radius: 5px;
  margin-top: 2px;
}

div#form-div {
  margin-top: 15px;
}

div#catalog-form {
  box-shadow: inset 0 0 0px 2px #03A9F4;
  padding: 15px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 15px;
  border-radius: 5px;
}